%template#package-breakdown
  .container.bill-container
    .table-responsive
      %table.table.table-bordered
        %thead.thead-default
          %tr
            %th Type
            %th Name
            %th Cost
        %tbody
          %tr{'v-for': 'sub in data.subscriptions'}
            %td {{sub.type | capitalize}}
            %td {{sub.name}}
            %td {{sub.cost | displayDecimals}}

    #total
      Total amount: 
      %strong {{data.total | displayDecimals}}
    