%div
  Icons made by
  %a{:href => "http://www.flaticon.com/authors/freepik", :title => "Freepik"} Freepik
  from
  %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
  is licensed by
  %a{:href => "http://creativecommons.org/licenses/by/3.0/", :target => "_blank", :title => "Creative Commons BY 3.0"} CC 3.0 BY

%div
  Icons made by
  %a{:href => "http://www.flaticon.com/authors/gregor-cresnar", :title => "Gregor Cresnar"} Gregor Cresnar
  from
  %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
  is licensed by
  %a{:href => "http://creativecommons.org/licenses/by/3.0/", :target => "_blank", :title => "Creative Commons BY 3.0"} CC 3.0 BY
